In [5]:
import pandas as pd
import numpy as np

Movies = pd.read_csv(r'C:\Users\amber\OneDrive\Documents\IS362_Week7_Movies.csv')

Movies

x = Movies.groupby('Name')
x.mean()

x = Movies.copy()

Movies.describe()

,Devil Wears Prada,Hunger Games: Catching Fire,2012,Titanic,The Great Gatspy,BeetleJuice
count,4.00,3.0,5.000000,2.000000,4.000000,4.0
mean,4.75,2.0,3.600000,1.500000,2.750000,5.0
std,0.50,1.0,1.140175,0.707107,0.957427,0.0
min,4.00,1.0,2.000000,1.000000,2.000000,5.0
25%,4.75,1.5,3.000000,1.250000,2.000000,5.0
50%,5.00,2.0,4.000000,1.500000,2.500000,5.0
75%,5.00,2.5,4.000000,1.750000,3.250000,5.0
max,5.00,3.0,5.000000,2.000000,4.000000,5.0